/* span{
    color: rgb(238, 0, 255);
} */



/* *{
    margin: 0px;
    padding: 0px;
} */

h1{
    background-color: aquamarine;
    height: 300px;
    width: 300px;
    border: 10px solid orange;
    padding:20px;
    box-sizing: content-box;
    /* padding: 40px;
    margin: 50px; */
    /* display: inline; */
    /* display: inline-block; */

    
}

h2{
    background-color: greenyellow;
    /* display: inline; */
    height: 300px;
    width: 300px;
    border: 10px solid orange;
    padding:20px;
    box-sizing: border-box;
    /* display: inline-block; */
}

span{
    background-color: rgb(26, 226, 116);
    height: 200px;
    width: 300px;
    /* padding: 20px;
    margin: 20px; */
    margin-right: 150px;
    padding-left: 50px;

    /* display: block; */
}