

#firstId{
    background-color: fuchsia;
}

#firstId{
    background-color: khaki;
    background-color: rebeccapurple;
}

/* h1{
    background-color: red;
}

.classA{
    background-color: green;
}

li{
    background-color: khaki;
} */


h2{
    background-color: teal !important;
}